<div class="container">
    <form action="">
        <mat-form-field class="form__element">
            <input type="text" value="" matInput placeholder="Name" required [(ngModel)]="model.name" name="name" #name="ngModel">
            <mat-error *ngIf="!name.valid || name.pristine">
                Name is required.
            </mat-error>
        </mat-form-field>

        <mat-radio-group class="form__element">
            <p>choose an option</p>
            <mat-radio-button value="pickup" (change)="onPickupOrDelivery(false)">
                Pickup
            </mat-radio-button>
            <mat-radio-button value="delivery" (change)="onPickupOrDelivery(true)">

            </mat-radio-button>
        </mat-radio-group>
    </form>
</div>